In [1]:
## Lets try and automate this task to save in a sql file make a new data base ## Fundamental Table

In [1]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager 
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
driver = webdriver.Chrome(r"C:\Users\manto\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe")

In [24]:
driver.get("https://www.moneycontrol.com/markets/indian-indices/")
driver.find_element(By.XPATH, "//*[@id='indices-2']/a").click()

In [25]:
driver.find_element(By.XPATH, "//*[@id='con_comn']/li[3]/h2/a").click()

**Extracting Stocks of Automobile sectors**

In [26]:

x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
l
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)


for item in d:
    
    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = 'P/E'
d[0][3] = "Debt_to_equity"
d[0][4] = "ESP"
d[0][5] = "BVPS"
d[0][6] = "Net_Profit(RS.cr)"
d[0][7] = "DSP(RS.)"
d[0][8] = "NPM%"
d[0][9] = "ROE%"
del d[0][10:]
Automobile= pd.DataFrame(d)

Automobile.to_csv("Automobile.CSV")
Automobile.head()

,0,1,2,3,4,5,6,7,8,9
0,Name,LTP,P/E,Debt_to_equity,ESP,BVPS,Net_Profit(RS.cr),DSP(RS.),NPM%,ROE%
1,Amara Raja Batt,696.70,22.55,0.01,37.87,246.49,646.00,11.00,9.04,15.36
2,Ashok Leyland,145.70,-106.07,0.53,-1.07,23.77,-313.00,0.00,-2.05,-4.49
3,Bajaj Auto,"3,635.05",21.86,0.00,167.90,942.51,"4,550.00",140.00,16.40,17.80
4,Balkrishna Ind,"2,361.75",27.72,0.17,60.91,310.39,"1,177.00",17.00,20.36,19.62

In [27]:
driver.find_element(By.XPATH, "//*[@id='capKi']/div[2]/div[2]/ul/li[2]/h2/a").click()

x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
l
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)


for item in d:
    
    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = 'P/E'
d[0][3] = "Debt_to_equity"
d[0][4] = "ESP"
d[0][5] = "BVPS"
d[0][6] = "Net_Profit(RS.cr)"
d[0][7] = "DSP(RS.)"
d[0][8] = "NPM%"
d[0][9] = "ROE%"
del d[0][10:]
IT= pd.DataFrame(d)

IT.to_csv("IT.CSV")
IT.head()

,0,1,2,3,4,5,6,7,8,9,10
0,Name,LTP,P/E,Debt_to_equity,ESP,BVPS,Net_Profit(RS.cr),DSP(RS.),NPM%,ROE%,None
1,COFORGE,LTD.,"5,418.00",0.78,"244,516",0.00,"5,418.00",0,165,"5,431.00","5,376.20"
2,HCL Tech,"1,172.35",1.00,"3,812,518","1,172.35",0.00,732,0,"1,168.90","1,160.70",None
3,Infosys,"1,780.20",2.71,"5,069,009",0.00,"1,780.20",0,"1,553","1,743.00","1,733.30",None
4,L&T Infotech,"7,243.25",4.24,"594,614","7,243.25",0.00,24,0,"7,000.00","6,948.75",None

In [ ]:
driver.find_element(By.XPATH, "//*[@id='capKi']/div[2]/div[2]/ul/li[3]/h2/a").click()

x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
l
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)


for item in d:
    
    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = 'P/E'
d[0][3] = "Debt_to_equity"
d[0][4] = "ESP"
d[0][5] = "BVPS"
d[0][6] = "Net_Profit(RS.cr)"
d[0][7] = "DSP(RS.)"
d[0][8] = "NPM%"
d[0][9] = "ROE%"
del d[0][10:]
IT= pd.DataFrame(d)

IT.to_csv("IT.CSV")
IT.head()