In [2]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager 
from selenium.webdriver.common.by import By
import pandas as pd

In [4]:
driver = webdriver.Chrome(r"C:\Users\manto\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe")
driver.get("https://www.moneycontrol.com/markets/indian-indices/")
driver.implicitly_wait(10)
x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text

l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)
for item in d:

    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]

d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = '%Chg'
d[0][3] = "Volume"
d[0][4] = "Buy Price"
d[0][5] = "Sell Price"
d[0][6] = "Buy Qty"
d[0][7] = "Sell Qty"
d[0][8] = "Open"
d[0][9] = "Prev.Close"
del d[0][10:]
d[43][0]=d[43][0]+d[43][1]+d[43][2]
del d[43][1:3]
d[43]
df=pd.DataFrame(d)
df.columns = df.iloc[0]
df = df.iloc[1:].reset_index(drop=True)
df.head()
df.to_csv("Top_50_Stocks_India.csv")

,Name,LTP,%Chg,Volume,Buy Price,Sell Price,Buy Qty,Sell Qty,Open,Prev.Close
0,Adani Ports,750.30,2.07,"4,585,484",0.00,750.30,0,"3,055",737.70,735.10
1,Asian Paints,"3,122.90",1.94,"682,344",0.00,"3,122.90",0,30,"3,089.00","3,063.50"
2,Axis Bank,736.05,-0.27,"9,372,897",0.00,736.05,0,"1,026",742.80,738.05
3,Bajaj Auto,"3,635.05",-3.06,"745,428","3,635.05",0.00,129,0,"3,782.00","3,749.95"
4,Bajaj Finance,"7,579.10",1.70,"497,128",0.00,"7,579.10",0,11,"7,500.00","7,452.70"

In [5]:

driver = webdriver.Chrome(r"C:\Users\manto\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe")
driver.get("https://www.moneycontrol.com/markets/indian-indices/")
driver.implicitly_wait(10)
x= driver.find_element(By.XPATH, "//*[@id='capKi']/div[2]/div[2]/ul/li[2]/h2/a").click()
x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
tx
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)
for item in d:

    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = '%Chg'
d[0][3] = "Volume"
d[0][4] = "Buy Price"
d[0][5] = "Sell Price"
d[0][6] = "Buy Qty"
d[0][7] = "Sell Qty"
d[0][8] = "Open"
d[0][9] = "Prev.Close"
del d[0][10:]
df1=pd.DataFrame(d)
df1.columns = df1.iloc[0]
df1 = df1.iloc[1:].reset_index(drop=True)
df1.head()

,Name,LTP,%Chg,Volume,Buy Price,Sell Price,Buy Qty,Sell Qty,Open,Prev.Close
0,AU Small Financ,"1,216.30",1.24,"445,769",0.00,"1,216.30",0,201,"1,206.80","1,201.40"
1,Axis Bank,736.05,-0.27,"9,372,897",0.00,736.05,0,"1,026",742.80,738.05
2,Bandhan Bank,310.90,1.32,"4,369,452",310.90,0.00,"3,971",0,309.70,306.85
3,Federal Bank,100.10,-0.10,"13,928,829",0.00,100.10,0,"11,807",100.95,100.20
4,HDFC Bank,"1,553.00",0.30,"7,457,046","1,553.00",0.00,337,0,"1,550.00","1,548.30"

In [11]:


driver.get("https://www.moneycontrol.com/markets/indian-indices/")
driver.implicitly_wait(10)
x= driver.find_element(By.XPATH, "//*[@id='capKi']/div[2]/div[2]/ul/li[3]/h2/a").click()
x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
tx
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)
for item in d:

    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = '%Chg'
d[0][3] = "Volume"
d[0][4] = "Buy Price"
d[0][5] = "Sell Price"
d[0][6] = "Buy Qty"
d[0][7] = "Sell Qty"
d[0][8] = "Open"
d[0][9] = "Prev.Close"
del d[0][10:]
for i in range(len (d)):
    if d[i][0]== "TATA":
        del d[i][1:3]
df2=pd.DataFrame(d)
df2.columns = df2.iloc[0]
df2 = df2.iloc[1:].reset_index(drop=True)
df2.head()

,Name,LTP,%Chg,Volume,Buy Price,Sell Price,Buy Qty,Sell Qty,Open,Prev.Close,NaN
0,Aarti Ind,948.30,0.89,"1,186,211",948.30,0.00,356,0,950.10,939.90,None
1,Adani Total Gas,"1,663.25",0.26,"177,805","1,663.25",0.00,67,0,"1,666.00","1,658.90",None
2,AB Capital,106.55,-1.57,"1,766,815",106.55,0.00,123,0,108.95,108.25,None
3,Aditya Birla F,298.20,-0.75,"3,079,654",298.20,0.00,345,0,302.90,300.45,None
4,Ajanta Pharma,"2,184.40",1.58,"35,545",0.00,"2,184.40",0,109,"2,165.00","2,150.45",None

In [9]:
driver.get("https://www.moneycontrol.com/markets/indian-indices/")
driver.implicitly_wait(10)
x= driver.find_element(By.XPATH, "//*[@id='capKi']/div[2]/div[2]/ul/li[4]/h2/a").click()
x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
tx
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)
for item in d:

    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = '%Chg'
d[0][3] = "Volume"
d[0][4] = "Buy Price"
d[0][5] = "Sell Price"
d[0][6] = "Buy Qty"
d[0][7] = "Sell Qty"
d[0][8] = "Open"
d[0][9] = "Prev.Close"
del d[0][10:]
for i in range(len (d)):
    if d[i][0]== "TATA":
        del d[i][1:3]
df3=pd.DataFrame(d)
df3.columns = df3.iloc[0]
df3 = df3.iloc[1:].reset_index(drop=True)
df3.head()

,Name,LTP,%Chg,Volume,Buy Price,Sell Price,Buy Qty,Sell Qty,Open,Prev.Close
0,Adani Ports,750.30,2.07,"4,585,484",0.00,750.30,0,"3,055",737.70,735.10
1,Asian Paints,"3,122.90",1.94,"682,344",0.00,"3,122.90",0,30,"3,089.00","3,063.50"
2,Axis Bank,736.05,-0.27,"9,372,897",0.00,736.05,0,"1,026",742.80,738.05
3,Bajaj Auto,"3,635.05",-3.06,"745,428","3,635.05",0.00,129,0,"3,782.00","3,749.95"
4,Bajaj Finance,"7,579.10",1.70,"497,128",0.00,"7,579.10",0,11,"7,500.00","7,452.70"

In [12]:

driver.get("https://www.moneycontrol.com/markets/indian-indices/")
driver.implicitly_wait(10)
x= driver.find_element(By.XPATH, "//*[@id='capKi']/div[2]/div[2]/ul/li[5]/h2/a").click()
x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
tx
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)
for item in d:

    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = '%Chg'
d[0][3] = "Volume"
d[0][4] = "Buy Price"
d[0][5] = "Sell Price"
d[0][6] = "Buy Qty"
d[0][7] = "Sell Qty"
d[0][8] = "Open"
d[0][9] = "Prev.Close"
del d[0][10:]
for i in range(len (d)):
    if d[i][0]== "TATA":
        del d[i][1:3]
df4=pd.DataFrame(d)
df4.columns = df4.iloc[0]
df4 = df4.iloc[1:].reset_index(drop=True)
df4.head()

,Name,LTP,%Chg,Volume,Buy Price,Sell Price,Buy Qty,Sell Qty,Open,Prev.Close
0,Abbott India,"19,754.65",-1.18,"11,666",0.00,"19,754.65",0,69,"20,001.00","19,990.45"
1,ACC,"2,571.95",0.54,"303,364",0.00,"2,571.95",0,885,"2,568.00","2,558.20"
2,Adani Enterpris,"1,705.20",2.42,"5,349,189",0.00,"1,705.20",0,"5,276","1,678.30","1,664.90"
3,Adani Green Ene,"1,292.30",5.00,"1,685,194","1,292.30",0.00,"105,846",0,"1,248.00","1,230.80"
4,Adani Ports,750.30,2.07,"4,585,484",0.00,750.30,0,"3,055",737.70,735.10

In [14]:
driver.get("https://www.moneycontrol.com/markets/indian-indices/")
driver.implicitly_wait(10)
x= driver.find_element(By.XPATH, "//*[@id='capKi']/div[2]/div[2]/ul/li[6]/h2/a").click()
x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
tx
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)
for item in d:

    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = '%Chg'
d[0][3] = "Volume"
d[0][4] = "Buy Price"
d[0][5] = "Sell Price"
d[0][6] = "Buy Qty"
d[0][7] = "Sell Qty"
d[0][8] = "Open"
d[0][9] = "Prev.Close"
del d[0][10:]
for i in range(len (d)):
    if d[i][0]== "TATA":
        del d[i][1:3]

df5=pd.DataFrame(d)
df5=pd.DataFrame(d)
df5.columns = df5.iloc[0]
df5 = df5.iloc[1:].reset_index(drop=True)
df5.head()

,Name,LTP,%Chg,Volume,Buy Price,Sell Price,Buy Qty,Sell Qty,Open,Prev.Close,NaN
0,Aarti Ind,948.30,0.89,"1,186,211",948.30,0.00,356,0,950.10,939.90,None
1,Abbott India,"19,754.65",-1.18,"11,666",0.00,"19,754.65",0,69,"20,001.00","19,990.45",None
2,ACC,"2,571.95",0.54,"303,364",0.00,"2,571.95",0,885,"2,568.00","2,558.20",None
3,Adani Enterpris,"1,705.20",2.42,"5,349,189",0.00,"1,705.20",0,"5,276","1,678.30","1,664.90",None
4,Adani Green Ene,"1,292.30",5.00,"1,685,194","1,292.30",0.00,"105,846",0,"1,248.00","1,230.80",None

In [16]:

driver.get("https://www.moneycontrol.com/markets/indian-indices/")
driver.implicitly_wait(10)
x= driver.find_element(By.XPATH, "//*[@id='capKi']/div[2]/div[2]/ul/li[7]/h2/a").click()
x= driver.find_element(By.XPATH, "//*[@id='indicesTable']")
tx= x.text
tx
l=tx.split('\n')
l[0] = ' '.join(l[:10])
del l[1:10]
d=[]
for item in l:
    item = item.split(' ')
    d.append(item)
for item in d:

    if item[1].isalpha() and item[2].isalpha() and item[3].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]+ ' '+item[3]
        del item[1:4]
    elif item[1].isalpha() and item[2].isalpha():
        item [0] = item[0]+ ' ' + item[1] + ' '+ item[2]
        del item[1:3]
    elif item[1].isalpha():
        item [0] = item[0]+ ' ' + item[1]
        del item[1]
d[0][0]= 'Name'
d[0][1] = "LTP"
d[0][2] = '%Chg'
d[0][3] = "Volume"
d[0][4] = "Buy Price"
d[0][5] = "Sell Price"
d[0][6] = "Buy Qty"
d[0][7] = "Sell Qty"
d[0][8] = "Open"
d[0][9] = "Prev.Close"
del d[0][10:]
for i in range(len (d)):
    if d[i][0]== "TATA":
        del d[i][1:3]

df6=pd.DataFrame(d)
df6.columns = df6.iloc[0]
df6 = df6.iloc[1:].reset_index(drop=True)
df6.to_csv("All500_stocks.csv")

In [19]:
final_data= pd.concat([df,df1,df2,df3,df4,df5], axis=0)
final_data.to_csv("All Stocks.csv")

In [46]:
## Lets put it in a CSV file